{% extends 'layouts/main.html' %}
{% block title %}Fyyur Casting Agency{% endblock %}
{% block content %}
<!-- <div class="login-box auth0-box before">
    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>
</div> -->
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur Casting Agency 🔥</h1>
		<p class="lead">Where actors meet your next movie project.</p>
		<h3>
			<a href="/movies"><button class="btn btn-default btn-lg">Find a movie</button></a>
			<a href="/movies/create"><button class="btn btn-default btn-lg">Create a movie project</button></a>
		</h3>
		<h3>
			<a href="/actors"><button class="btn btn-default btn-lg">Find an actor</button></a>
			<a href="/actors/create"><button class="btn btn-default btn-lg">Create an actor profile</button></a>
		</h3>
		<p class="lead">Pick the right actors for your movie.</p>
		<h3>
			<a href="/cast/create"><button class="btn btn-primary btn-lg">Cast a movie</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/movie-filming.jpg')}}" alt="casting image" /> 
	</div>
</div>
{% endblock %}