{% extends 'layouts/main.html' %}
{% block title %}Edit Movie{% endblock %}
{% block content %}
<div class="form-wrapper">
    <form class="form" method="post" action="/movies/{{movie.id}}/patch">
        <h3 class="form-heading">Edit movie <em>{{ movie.name }}</em> </h3>
        <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
        <label for="director">Director</label>
        {{ form.director(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
        <label for="genre">Genre</label>
        {{ form.genre(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
        <label for="release_year">Release year</label>
        {{ form.release_year(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
        <label for="rating">Rating</label>
        {{ form.rating(class_ = 'form-control', autofocus = true) }}
        </div>
      <input type="submit" value="Edit Movie" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}