{% extends 'layouts/main.html' %}
{% block title %}Movie Casting{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Cast a movie</h3>
      <div class="form-group">
        <label for="actor">Actor</label>
        <select class="form-control" name="actor_id">
          {%for actor in actors %}
          <option value="{{actor.id}}"> {{actor.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="movie">Movie</label>
        <select class="form-control" name="movie_id">
          {%for movie in movies %}
          <option value="{{movie.id}}"> {{movie.name}}</option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" value="Book actor" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}