{% extends 'layouts/main.html' %}
{% block title %}Movie Casting{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Cast a movie</h3>
      <div class="form-group">
        <label for="actor">Actor</label>
        {{ form.actor(class_ = 'form-control', name ='actor_id') }}
      </div>
      <div class="form-group">
          <label for="movie">Movie</label>
          {{ form.movie(class_ = 'form-control', name ='movie_id') }}
        </div>
      <input type="submit" value="Cast actor" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}